.profile-doctor-container {
  margin-bottom: 10px;
  .intro-doctor {
    background: #f6f6f6;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    .content-left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image-avata {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
      }
    }
    .content-right {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .top {
        font-size: 20px;
        font-weight: 600;
      }
      .bottom {
      }
    }
    .content-right-price {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .price {
        display: flex;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.time-day {
  text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
  .profile-doctor-container {
    margin-bottom: 10px;
    .intro-doctor {
      background: #f6f6f6;
      display: flex;
      padding: 10px;
      border-radius: 25px;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .content-left {
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-avata {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          text-align: center;
        }
      }
      .content-right {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .top {
          font-size: 20px;
          font-weight: 600;
        }
        .bottom {
        }
      }
      .content-right-price {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .price {
          display: flex;
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 600;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .time-day {
    text-transform: capitalize;
  }
}
